@model src.Web.Common.Models.IncidentReportViewModel.IncidentReportViewModel
@using src.Core.Enums;
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script src="~/RoutesAtRedZoneController/AddOrUpdate.js" asp-append-version="true"></script>
<script src="~/RoutesOutsideRedZoneController/AddOrUpdate.js" asp-append-version="true"></script>
<script src="~/InformationContactSuspectCaseCovid/AddOrUpdate.js" asp-append-version="true"></script>
<script src="~/RoutesOfContactingWithColleaguesController/AddOrUpdate.js" asp-append-version="true"></script>

<style>
    .has-error .select2-selection {
        border-color: rgb(185, 74, 72) !important;
    }

    th.hide_me, td.hide_me {
        display: none;
    }

    body.modal-open {
        overflow: hidden;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
            1. THÔNG TIN CÁ NHÂN KÊ KHAI / <cite>GENERAL INFORMATION</cite>
        </p>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Requester.FirstName" class="col-sm-4 control-label">Họ tên / <cite class="text-purple">Full name:</cite> </label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="Requester.FirstName" value="@Model.Requester.FirstName @Model.Requester.LastName " class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="positionTemp" class="col-sm-4 control-label">Chức danh / <cite class="text-purple">Position:</cite></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" asp-for="positionTemp" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Requester.UserCode" class="col-sm-4 control-label">Mã Nhân viên / <cite class="text-purple">EME code: </cite></label>
                    <div class="col-sm-8">
                        <input asp-for="Requester.UserCode" type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="campusTemp" class="col-sm-4 control-label">Cơ sở:/ PB/ <cite class="text-purple">Campus/ Dept.: </cite> </label>
                    <div class="col-sm-8">
                        <input asp-for="campusTemp" type="text" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Current Address:/ <cite class="text-purple">Địa chỉ hiện tại: </cite> <span class="field-required">*</span></label>
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="padding-left:0;">
                            <label asp-for="reporterProvinceId">City/Province</label>
                            <select asp-for="reporterProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="reporterProvinceId" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6" style="padding-left:0;padding-right:0;">
                            <label asp-for="reporterDistrictId">District/Quận/Huyện</label>
                            <select asp-for="reporterDistrictId" class="form-control select2" style="width: 100%;">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="reporterDistrictId" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6" style="padding-left:0;">
                            <label asp-for="reporterWardId">Ward/ Phường</label>
                            <select asp-for="reporterWardId" class="form-control select2" style="width: 100%;">
                                <option value="">Please select one</option>
                            </select>
                            <span asp-validation-for="reporterWardId" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6" style="padding-left:0;padding-right:0;">
                            <label asp-for="reporterHomeAddress">House number, Số nhà, tên đường:</label>
                            <input asp-for="reporterHomeAddress" type="text" class="form-control" maxlength="500">
                            <span asp-validation-for="reporterHomeAddress" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Requester.Mobile" class="col-sm-4 control-label">Số ĐTDĐ:/ <cite class="text-purple">Phone Number: </cite> <span class="field-required">*</span> </label>
                    <div class="col-sm-8">
                        <input asp-for="Requester.Mobile" type="text" class="form-control" maxlength="20" required>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-4">
                <label asp-for="emergencyContact" class="col-sm-6 control-label">Thông tin liên hệ khẩn cấp <br /><span class="text-purple"> <i>Emergency Contact</i></span><span class="field-required">*</span>  </label>
                <div class="col-sm-6">
                    <input asp-for="emergencyContact" type="text" class="form-control" placeholder="Full name/ Họ và tên" maxlength="200" />
                    <span asp-validation-for="emergencyContact" class="text-danger"></span>
                </div>

            </div>
            <div class="col-lg-4">
                <label asp-for="phoneContact" class="col-sm-6 control-label">Số ĐTDĐ:<br /><span class="text-purple"> <i>Phone Number:</i></span> <span class="field-required">*</span> </label>
                <div class="col-sm-6">
                    <input asp-for="phoneContact" type="text" class="form-control" maxlength="50" required/>
                    <span asp-validation-for="phoneContact" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <label asp-for="relationshipContact" class="col-sm-6 control-label">Mối quan hệ với nhân viên:<br /><span class="text-purple"> <i>Relationship with staff:</i></span> <span class="field-required">*</span> </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" asp-for="relationshipContact" maxlength="200" />
                    <span asp-validation-for="relationshipContact" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-left:5px !important; padding-top:10px;">
                <label asp-for="contactAddress" class="col-sm-2 control-label">Contact Address:<br /><span class="text-purple"> <i>Địa chỉ liên hệ:</i></span><span class="field-required">*</span> </label>
                <div class="col-sm-10">
                    <input type="text" asp-for="contactAddress" class="form-control" />
                    <span asp-validation-for="contactAddress" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-12">
        <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
            2. THỜI GIAN VÀ ĐỊA ĐIỂM (DÀNH CHO NGƯỜI ĐI VỀ TỪ VÙNG DỊCH) / <cite>TIME & LOCATION (FOR THOSE TRAVELLING FROM RED ZONE)</cite>
        </p>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="departureDate" class="col-sm-6 control-label">Ngày Đi:<br /><cite class="text-purple">Departure date</cite></label>
                    <div class="col-sm-6">
                        <input asp-for="departureDate" type="text" class="form-control datepickerJquery">
                        <span asp-validation-for="departureDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="departureTransportation" class="col-sm-6 control-label">Phương tiện:<br /><cite class="text-purple">Means of transportation</cite></label>
                    <div class="col-sm-6">
                        <input asp-for="departureTransportation" type="text" class="form-control" maxlength="100">
                        <span asp-validation-for="departureTransportation" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @if (Model.status > 0)
                    {

                    <label asp-for="departureTicket" class="col-sm-4 control-label">Đính kèm vé:<br /><cite class="text-purple">Enclosed ticket</cite></label>
                    <div class="col-sm-8">
                        <br />
                        <a href="@Model.departureTicket"><span class="text-bold text-red">@Model.departureTicket</span></a>
                    </div>

                    }
                    else
                    {
                    <label asp-for="departureTicket" class="col-sm-4 control-label">Đính kèm vé:<br /><cite class="text-purple">Enclosed ticket</cite></label>
                    <div class="col-sm-8">
                        <input type="file" asp-for="departureTicket" class="filestyle" data-buttonText="File" accept="application/pdf, image/*">
                        <span asp-validation-for="departureTicket" class="text-danger"></span>
                    </div>

                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="returningDate" class="col-sm-6 control-label">Ngày về:<br /><cite class="text-purple">Returning date</cite></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="returningDate" class="form-control datepickerJquery">
                        <span asp-validation-for="returningDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="returningTransportaion" class="col-sm-6 control-label">Phương tiện:<br /><cite class="text-purple">Means of transportation</cite></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" asp-for="returningTransportaion" maxlength="200">
                        <span asp-validation-for="returningTransportaion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @if (Model.status > 0)
                    {

                    <label asp-for="returningTicket" class="col-sm-4 control-label">Đính kèm vé:<br /><cite class="text-purple">Enclosed ticket</cite></label>
                    <div class="col-sm-8">
                        <br />
                        <a href="@Model.returningTicketPath"><span class="text-bold text-red">@Model.returningTicket</span></a>
                    </div>

                    }
                    else
                    {
                    <label asp-for="returningTicket" class="col-sm-4 control-label">Đính kèm vé:<br /><cite class="text-purple">Enclosed ticket</cite></label>
                    <div class="col-sm-8">
                        <input type="file" asp-for="returningTicket" class="filestyle" data-buttonText="File" accept="application/pdf, image/*">
                        <span asp-validation-for="returningTicket" class="text-danger"></span>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <label class="control-label">
            Ghi chú/<span class="text-purple"><i>Note:</i></span> <cite class="text-nowrap">Ghi rõ loại phương tiện, tên chuyến bay/ chuyến tàu lửa/ tên bến xe/ tên đơn vị vân chuyển,… </cite>
            <span class="text-purple">/ <i>Clearly state the form of transportation, flight/train number, station, transport company, etc.</i></span>
        </label>
    </div>
    <div class="col-lg-12">
        <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
            3. LỘ TRÌNH DI CHUYỂN / <cite>TRAVELLING ROUTES</cite>
        </p>
        <div id="routesAtRedZoneArea">
            <h5 class="text-bold">3.1. DÀNH CHO NGƯỜI VỀ TỪ VÙNG DỊCH / <span class="text-purple"><i>FOR THOSE RETURNING FROM RED ZONE:</i></span></h5>
            <h5 class="box-title text-bold" style="padding-left:20px">  3.1.1. Lộ trình tại vùng dịch /<span class="text-purple"><i>Routes at red zone:</i></span></h5>
            <div class="box box-primary">
                @if (Model.status == 0)
                {
                    <div class="box-header">
                        <div class="col-lg-4" style="padding-bottom:20px;">
                            <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#addNewRouteAtRedZones" id="addNewRouteAtRedZonesBtn"><i class="fa fa-plus"> </i><span>Add New Route</span></a>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="routesAtRedZones" name="routesAtRedZones" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="col-lg-1"> Từ (Ngày & giờ) / <cite class="text-purple"> From (Date & Time)</cite></th>
                                    <th class="col-lg-1"> Đến (Ngày & giờ) / <cite class="text-purple"> To (Date & Time)</cite></th>
                                    <th class="col-lg-4">Địa điểm (Số nhà, tên đường, Phường, Quận/Huyện, Tỉnh/TP) / <br /><cite class="text-purple">Location (State clearly: House number, Street, Ward, District, City/Province)</cite></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th class="col-lg-3">Phương tiện / Means of transportation <br /><cite class="text-purple">Ghi rõ loại phương tiện, tên chuyến bay/ chuyến tàu lửa/ tên bến xe/ tên đơn vị vân chuyển,… / Clearly state the form of transportation, flight/train number, station, transport company, etc.</cite></th>
                                    <th class="col-lg-1">Actions</th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>


            <h5 class="text-bold" style="padding-left:20px">3.1.2. LỘ TRÌNH SAU KHI RA KHỎI VÙNG DỊCH /<span class="text-purple"><i> ROUTES OUTSIDE RED ZONE:</i></span></h5>
            <div class="box box-primary">
                @if (Model.status == 0)
                {
                    <div class="box-header">
                        <div class="col-lg-4" style="padding-bottom:20px;">
                            <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#addNewRoutesOutsizeRedZones" id="addNewRoutesOutsizeRedZonesBtn"><i class="fa fa-plus"> </i><span>Add New Route</span></a>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="routesOutsizeRedZone" name="routesOutsizeRedZone" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="col-lg-1">Từ (Ngày & giờ) / <cite class="text-purple"> From (Date & Time)</cite></th>
                                    <th class="col-lg-1"> Đến (Ngày & giờ) / <cite class="text-purple"> To (Date & Time)</cite></th>
                                    <th class="col-lg-4">Địa điểm (Số nhà, tên đường, Phường, Quận/Huyện, Tỉnh/TP) / <br /><cite class="text-purple">Location (State clearly: House number, Street, Ward, District, City/Province)</cite></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th class="col-lg-3">Phương tiện / Means of transportation <br /><cite class="text-purple">Ghi rõ loại phương tiện, tên chuyến bay/ chuyến tàu lửa/ tên bến xe/ tên đơn vị vân chuyển,… / Clearly state the form of transportation, flight/train number, station, transport company, etc.</cite></th>
                                    <th class="col-lg-1">Actions</th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="suspectCaseOfCovidArea">
            <h5 class="text-bold">3.2. DÀNH CHO NGƯỜI TIẾP XÚC  VỚI NGƯỜI NGHI NHIỄM/ <span class="text-purple"><i>FOR THOSE CONTACTING WITH A SUSPECT CASE OF COVID-19</i></span></h5>
            <h5 class="box-title text-bold" style="padding-left:20px">3.2.1. Thông tin tiếp xúc với người nghi nhiễm/<span class="text-purple"><i>Information about contacting with a suspect case of covid-19:</i></span></h5>
            <div class="box box-primary">
                @if (Model.status == 0)
                {
                    <div class="box-header">
                        <div class="col-lg-4" style="padding-bottom:20px;">
                            <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#addNewInformationContactSuspectCaseCovid" id="addNewInformationContactSuspectCaseCovidBtn"><i class="fa fa-plus"> </i><span>Add New Row</span></a>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="informationSuspectCaseOfCovid" name="informationSuspectCaseOfCovid" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="col-lg-1">Từ (Ngày & giờ) / <cite class="text-purple">From (Date & Time)</cite></th>
                                    <th class="col-lg-1">Đến (Ngày & giờ) / <cite class="text-purple">To (Date & Time)</cite></th>
                                    <th class="col-lg-2">Đối tượng nghi nhiễm/<cite class="text-purple">Suspect / Infected Case</cite></th>
                                    <th class="col-lg-2">Địa điểm (Số nhà, tên đường, Phường, Quận/Huyện, Tỉnh/TP)/<cite class="text-purple">Location (State clearly: House number, Street, Ward, District, City/Province)</cite></th>
                                    <th class="col-lg-1"><span>Mối quan hệ với nhân viên/ </span><br /><cite class="text-purple">Relationship with staff</cite></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th class="col-lg-2">Tình huống tiếp xúc  <br /><cite class="text-purple">Contact situation</cite></th>
                                    <th class="col-lg-1">Actions</th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="routesOfContactingWithColleaguesArea">
            <h5 class="text-bold">3.3.LỘ TRÌNH TIẾP XÚC VỚI ĐỒNG NGHIỆP/<span class="text-purple"><i> ROUTES OF CONTACTING WITH COLLEAGUES:</i></span></h5>
            <div class="box box-primary">
                @if (Model.status == 0)
                {
                    <div class="box-header">
                        <div class="col-lg-4" style="padding-bottom:20px;">
                            <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#addNewRoutesOfContactingWithColleagues" id="addNewRoutesOfContactingWithColleaguesBtn"><i class="fa fa-plus"> </i><span>Add New Row</span></a>
                        </div>
                    </div>
                }
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered" id="routesOfContactingWithColleagues" name="routesOfContactingWithColleagues" style="width:100%;">
                            <thead>
                                <tr>
                                    <th class="col-lg-1"> Từ (Ngày & giờ) / <cite class="text-purple"> From (Date & Time)</cite></th>
                                    <th class="col-lg-1"> Đến (Ngày & giờ) / <cite class="text-purple">To (Date & Time)</cite></th>
                                    <th class="col-lg-2">Mã NV & Họ tên đồng nghiệp & Chức danh / <cite class="text-purple">Colleague's Name - Position - EMEcode</cite></th>
                                    <th class="col-lg-2">Cơ sở của đồng nghiệp/<br /><cite class="text-purple">Colleague's Campus</cite></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th class="col-lg-3">Địa điểm (Số nhà, tên đường, Phường, Quận/Huyện, Tỉnh/TP) / <br /><cite class="text-purple">Location (State clearly: House number, Street, Ward, District, City/Province)</cite></th>
                                    <th class="col-lg-2">Tình huống tiếp xúc  <br /><cite class="text-purple">Contact situation</cite></th>
                                    <th class="col-lg-1">Actions</th>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-lg-12">
        <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
            4. THÔNG TIN KHAI BÁO VỚI CƠ QUAN Y TẾ  / <cite>DECLARATION TO MEDICAL CENTER</cite>
        </p>
        <div class="form-group">
            <label asp-for="contactTime" class="col-sm-3 control-label">4.1. Thời gian liên hệ /<span class="text-purple"><i>Contact time:</i></span><span class="field-required">*</span></label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input asp-for="contactTime" type="text" class="form-control datepickerJquery" data-inputmask="'alias': 'datetime','inputFormat': 'dd/mm/yyyy'">
                </div>
                <span asp-validation-for="contactTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="informationReciever" class="col-sm-3 control-label">4.2. Tên người tiếp nhận/<span class="text-purple"><i>Information received by:</i></span><span class="field-required">*</span></label>
            <div class="col-sm-9">
                <input asp-for="informationReciever" type="text" class="form-control" maxlength="200" />
                <span asp-validation-for="informationReciever" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="informationMedicalCenter" class="col-sm-3 control-label">4.3. Số điện thoại/ Tên cơ sở y tế & địa chỉ đã liên hệ tư vấn /<span class="text-purple"><i>Contact Number/Name & address of Medical Center:</i></span> <span class="field-required">*</span></label>
            <div class="col-sm-9" style="padding-top:10px;">
                <input asp-for="informationMedicalCenter" type="text" class="form-control" maxlength="200" />
                <span asp-validation-for="informationMedicalCenter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="guidanceMedicalCenter" class="col-sm-3 control-label">4.4. Hướng dẫn từ Cán bộ y tế/<span class="text-purple"><i>Guidance from Medical Center:</i></span><span class="field-required">*</span></label>
            <div class="col-sm-9" style="padding-top:10px;">
                <textarea asp-for="guidanceMedicalCenter" class="textarea" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" 
                          placeholder="Có yêu cầu cách ly không? / Quarantine requested ? 
Yêu cầu cách ly tập trung hay tại nhà? Bắt đầu từ ngày nào đến ngày nào? / Self-quaratine or centralized quarantine ? From when to when?
Đi ra ngoài/ đi làm được không và cần tuân thủ những gì? / Able to go outside or go to work and what rules to follow ?
Các hướng dẫn cụ thể khác (nếu có) / Other specific guidances (if instructed) "></textarea>
                <span asp-validation-for="guidanceMedicalCenter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="fTypeConfirmed" class="col-sm-3 control-label">4.5. Loại F được xác định bởi cơ quan y tế /<br><span class="text-purple"><i>F type confirmed by the Medical Center:</i></span><span class="field-required">*</span></label>
            <div class="col-sm-9">
                <textarea asp-for="fTypeConfirmed" type="text" class="textarea"  style="width: 100%; height:fit-content(); font-size: 14px; border: 1px solid #dddddd; padding: 10px;" maxlength="200" placeholder="Loại F cụ thể hoặc không xác định / Certain F type or undefine"> </textarea>
                <span asp-validation-for="fTypeConfirmed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                4.6. Thuộc đối tượng phải xét nghiệm Covid/<br><span class="text-purple"><i> Confirmation to have a test:</i></span> <span class="field-required">*</span>
                <br /><span id="ConfirmToTestErrorMessage"></span>
            </label>

            <div class="col-sm-9" style="padding-top:10px;">
                <label>
                    <input type="radio" asp-for="ConfirmToTest" value="@((int)ConfirmToTest.yes)" class="minimal-red"> <span style="padding-left:10px;"> Yes </span>

                </label>
                <label>
                    <input type="radio" asp-for="ConfirmToTest" value="@((int)ConfirmToTest.no)" class="minimal-red"> <span style="padding-left:10px;"> No </span>
                </label>
            </div>
        </div>
        <div id="haveATestResult">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    4.7 Tình trạng xét nghiệm (nếu thuộc đối tượng XN)/<br><span class="text-purple"><i> Testing status (for those who need to have a test):</i></span>
                    <br /><span id="testingStatusErrorMessage"></span>
                </label>
                <div class="col-sm-9" style="padding-top:5px;">
                    <div class="form-group" style="padding-left:15px;">
                        <label>
                            <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.tested)" class="minimal-red"> <span style="padding-left:10px;">Đã xét nghiệm/<span class="text-purple"><i>Tested</i></span></span>
                        </label>
                    </div>
                    <div class="form-group" style="padding-left:15px;">
                        <div class="form-group">
                            <label class="col-md-6">
                                <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.schedule)" class="minimal-red"> <span style="padding-left:10px;">Đã có lịch nhưng chưa đến ngày hẹn/ Ghi rõ ngày hẹn XN<span class="text-purple"><i>Scheduled but not yet time/Appointment date:</i></span></span>
                            </label>
                        </div>
                        <div class="col-lg-6 form-group" style="padding-left:50px;">
                            <input asp-for="appoinmentDateForTestResult" type="text" class="form-control datepickerJquery" />
                        </div>
                    </div>
                    <div class="form-group" style="padding-left:15px;">
                        <label>
                            <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.notYetTested)" class="minimal-red"> <span style="padding-left:10px;">Chưa xét nghiệm do chưa nằm trong dánh sách ưu tiên/<span class="text-purple"><i>Not yet tested because not in the priority list</i></span></span>
                        </label>
                    </div>
                    <div class="form-group" style="padding-left:15px;">
                        <div class="form-group">
                            <label class="col-md-6">
                                <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.others)" class="minimal-red"> <span style="padding-left:10px;">Khác: /<span class="text-purple"><i>Others:</i></span></span>
                            </label>
                        </div>
                        <div class="col-lg-6 form-group" style="padding-left:50px;">
                            <input asp-for="othersTestResult" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">4.8. Kết quả xét nghiệm<br><span class="text-purple"><i>Test result:</i></span></label>
                <div class="col-sm-9">
                    <div class="form-group" style="padding-left:15px;">

                        <div class="form-group" style="padding-top:10px;">
                            <label class="col-md-6">
                                <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.haveTestResult)" class="minimal-red"> <span style="padding-left:10px;">Đã có/:<span class="text-purple"><i>Yes:</i></span></span>
                            </label>
                        </div>
                        <div class="col-md-6 form-group" style="padding-left:50px;">
                            @if (Model.testResultPath != null)
                            {
                            <a href="@Model.testResultPath"><span class="text-bold text-red">@Model.testResultName</span></a>
                            }
                            else
                            {
                            <input type="file" asp-for="testResultName" class="filestyle" data-buttonText="File" accept="application/pdf, image/*">
                            }

                        </div>
                    </div>
                    <div class="form-group" style="padding-left:15px;">
                        <div class="form-group">
                            <label class="col-md-6">
                                <input type="radio" asp-for="testingStatus" value="@((int)testingStatus.waitingTestResult)" class="minimal-red"> <span style="padding-left:10px;">Đang chờ kết quả/: /<span class="text-purple"><i>Waiting for the result:</i></span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
                5. TÌNH TRẠNG SỨC KHỎE HIỆN TẠI/ <cite>CURRENT HEALTH SITUATION</cite> <span class="field-required">*</span>
            </p>
            <div class="form-group">
                <div class="col-lg-12">
                    <textarea asp-for="currentHealthSituation" class="textarea" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <p class="well well-sm bg-blue text-bold" style="margin-top: 10px;">
                6. NGÀY TRỞ LẠI LÀM VIỆC THEO THỰC TẾ/ <cite>ACTUAL DATE BACK TO WORK</cite> <span class="field-required">*</span>
            </p>
            <div class="form-group">
                <div class="col-lg-3" style="padding-top:20px;">
                    <input type="radio" asp-for="backToWorkStatus" value="@((int)workSatus.backToWorkAlready)" class="minimal-red">
                    <label>
                        Đã trở lại/<span class="text-purple"><i>Back to work already</i></span>

                    </label>
                    <br /><span id="backToWorkStatus_Already_ErrorMessage"></span>
                </div>
                <div class="col-lg-9" id="dateBackToWorkArea">
                    <label class="col-sm-3 control-label">Ngày trở lại làm việc /<br /><span class="text-purple"><i>Date back to work:</i></span>  </label>
                    <div class="col-sm-9" style="padding-top:10px;">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="dateBackToWork" class="form-control datepickerJquery" data-inputmask="'alias': 'datetime','inputFormat': 'dd/mm/yyyy'">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3" style="padding-top:20px;">
                    <label>
                        <input type="radio" asp-for="backToWorkStatus" value="@((int)workSatus.notYetBackToWork)" class="minimal-red"> Chưa trở lại/ <span class="text-purple"><i>Not yet back to work</i></span>
                        <br /><span id="backToWorkStatus_NotYet_ErrorMessage"></span>
                    </label>
                </div>
                <div class="col-lg-9" id="estimatedDateBackToWorkArea">
                    <label class="col-sm-3 control-label">Ngày dự kiến trở lại làm việc /<br /><span class="text-purple"><i>Estimated date back to work:</i></span>  </label>
                    <div class="col-sm-9" style="padding-top:10px;">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" asp-for="estimatedDateBackToWork" class="form-control datepickerJquery" data-inputmask="'alias': 'datetime','inputFormat': 'dd/mm/yyyy'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Informed group:<span class="field-required">*</span> </label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input asp-for="informedEmail" class="form-control" value="@Model.informedEmail" readonly />

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label asp-for="nameOfLineManager" class="col-sm-2 control-label">Verified by:<span class="field-required">*</span> </label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input asp-for="nameOfLineManager" class="form-control" value="@(Model.nameOfLineManager!= null ? Model.nameOfLineManager :Model.Requester.linemanager)" readonly />
                        </div>
                        <span asp-validation-for="nameOfLineManager" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label asp-for="HREmail" class="col-sm-2 control-label">Approved by:<span class="field-required">*</span> </label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input asp-for="ECSDEmail" class="form-control" value="@(Model.ECSDEmail!= null ? Model.ECSDEmail :Model.Requester.ecsd)" readonly />

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    <label style="font-weight:normal !important;" class="text-justify">
                        <input type="checkbox" id="chkAccept" class="minimal-red" @(Model.status > 0 ? "checked" : "")>
                        <span class="text-bold" style="padding-left:10px;">Tôi xin cam kết những gì tôi đã tường trình trên đây là đúng sự thật. Nếu có gì sai trái tôi xin chịu hoàn toàn trách nhiệm.</span>
                        <br />
                        <span class="text-purple text-bold" style="padding-left:30px;"><i>I commit that the information above is true. I shall take full responsibility for any falsity.</i></span>
                    </label>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- #region addNewRouteAtRedZones -->
<div id="addNewRouteAtRedZones" class="modal fade" role="dialog" style="overflow:hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add/Edit Route at red zone</h4>
            </div>
            <div class="modal-body">
                <p class="text-red">*All form fields are required.</p>

                <div class="form-group">
                    <div class="col-md-6">
                        <label> Từ (Ngày & giờ) / <cite class="text-purple">From (Date & Time)</cite></label>
                        <input id="routeAtRedZoneDate" class="form-control datepickerJquery" required />
                    </div>
                    <div class="col-md-6">
                        <label> Đến (Ngày & giờ) / <cite class="text-purple"> To (Date & Time) </cite></label>
                        <input id="routeAtRedZoneToDate" class="form-control datepickerJquery" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label> Tỉnh - Thành Phố <cite class="text-purple"> / Province - City</cite></label>
                        <select id="routeAtRedZoneProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Quận/Huyện <cite class="text-purple"> / District</cite></label>
                        <select id="routeAtRedZoneDistrictId" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phường <cite class="text-purple">/ Ward</cite></label>
                        <select id="routeAtRedZoneWardId" class="form-control select2 selectWard" style="width: 100%;">
                            <option value="0">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Số nhà, tên đường<cite class="text-purple"> / House number, Street</cite></label>
                        <textarea rows="3" cols="5" type="text" class="form-control" id="routeAtRedZoneDateAddress" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phương tiện / Means of transportation <br /><cite class="text-purple">Ghi rõ loại phương tiện, tên chuyến bay/ chuyến tàu lửa/ tên bến xe/ tên đơn vị vân chuyển,… / Clearly state the form of transportation, flight/train number, station, transport company, etc.</cite></label>
                        <input type="text" class="form-control" id="routeAtRedZoneDatetransportation" maxlength="200">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="saveRouteAtRedZoneDate" class="btn btn-primary save">Save</button>
                <button type="button" id="updateRouteAtRedZoneDate" class="btn btn-primary update">Update</button>

            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region addNewRoutesOutsizeRedZones -->
<div id="addNewRoutesOutsizeRedZones" class="modal fade" role="dialog" style="overflow:hidden;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add/Edit Route <strong class="text-red">OUTSIDE</strong> red zone</h4>
            </div>
            <div class="modal-body">
                <p class="text-red">*All form fields are required.</p>

                <div class="form-group">
                    <div class="col-md-6">
                        <label>Từ (Ngày & giờ) / <cite class="text-purple">From (Date & Time)</cite></label>
                        <input id="routeOutsideRedZoneDate" class="form-control datepickerJquery" required />
                    </div>
                    <div class="col-md-6">
                        <label> Đến (Ngày & giờ) / <cite class="text-purple"> To (Date & Time)</cite></label>
                        <input id="routeOutsideRedZoneToDate" class="form-control datepickerJquery" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label> Tỉnh - Thành Phố <cite class="text-purple"> / Province - City</cite></label>
                        <select id="routeOutsideRedZoneProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Quận/Huyện <cite class="text-purple"> / District</cite></label>
                        <select id="routeOutsideRedZoneDistrictId" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phường <cite class="text-purple">/ Ward</cite></label>
                        <select id="routeOutsideRedZoneWardId" class="form-control select2 selectWard" style="width: 100%;">
                            <option value="0">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Số nhà, tên đường<cite class="text-purple"> / House number, Street</cite></label>
                        <<textarea rows="3" cols="5" type="text" class="form-control" id="routeOutsideRedZoneDateAddress" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phương tiện / Means of transportation <br /><cite class="text-purple">Ghi rõ loại phương tiện, tên chuyến bay/ chuyến tàu lửa/ tên bến xe/ tên đơn vị vân chuyển,… / Clearly state the form of transportation, flight/train number, station, transport company, etc.</cite></label>
                        <input type="text" class="form-control" id="routeOutsideRedZoneDatetransportation" maxlength="200">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="saveRouteOutsideRedZone" class="btn btn-primary save">Save</button>
                <button type="button" id="updateRouteOutsideRedZone" class="btn btn-primary update">Update</button>

            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region addNewInformationContactSuspectCaseCovid -->
<div id="addNewInformationContactSuspectCaseCovid" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add/Edit <strong class="text-red">Information about contacting with a suspect case of covid-19</strong></h4>
            </div>
            <div class="modal-body">
                <p class="text-red">*All form fields are required.</p>

                <div class="form-group">
                    <div class="col-md-6">
                        <label> Từ (Ngày & giờ) / <cite class="text-purple">From (Date & Time)</cite></label>
                        <input id="suspectCaseDate" class="form-control datepickerJquery" required />
                    </div>
                    <div class="col-md-6">
                        <label> Đến (Ngày & giờ) / <cite class="text-purple"> To (Date & Time) </cite></label>
                        <input id="suspectCaseToDate" class="form-control datepickerJquery" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Đối tượng nghi nhiễm/ <cite class="text-purple">Suspect / Infected Case</cite></label>
                        <textarea rows="2" cols="3" type="text" id="suspectCase" class="form-control" maxlength="200" 
                               placeholder="Nếu là đồng nghiệp cần ghi rõ cụ thể Họ tên - Chức danh - Cơ sở / Clearly list out Full Name - Position - Campus/Dept. if suspected case is your colleague" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label> Tỉnh - Thành Phố <cite class="text-purple"> / Province - City</cite></label>
                        <select id="suspectCaseProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Quận/Huyện <cite class="text-purple"> / District</cite></label>
                        <select id="suspectCaseDistrictId" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phường <cite class="text-purple">/ Ward</cite></label>
                        <select id="suspectCaseWardId" class="form-control select2 selectWard" style="width: 100%;">
                            <option value="0">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Số nhà, tên đường <cite class="text-purple">/ House number, Street</cite></label>
                        <textarea rows="2" cols="3" type="text" class="form-control" id="suspectCaseAddress" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Mối quan hệ với nhân viên / <cite class="text-purple">Relationship with staff</cite></label>
                        <textarea rows="2" cols="3" type="text" class="form-control" id="suspectCaseRelationShip" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Tình huống tiếp xúc/<cite class="text-purple">Contact situation</cite></label>
                        <textarea rows="4" cols="3" type="text" class="form-control" id="suspectCaseContactSituation" 
                                  placeholder="Tiếp xúc trực tiếp hay không? / Direct or indirect contact? 
Trong phòng kín hay ngoài trời? / Closed or opened space?
Trong khoảng thời gian bao lâu - Khoảng cách khi tiếp xúc? / For how long and how far?
Có đeo khẩu trang không? / Mask on or off ?"maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="saveInformationContactSuspectCaseCovid" class="btn btn-primary save">Save</button>
                <button type="button" id="updateInformationContactSuspectCaseCovid" class="btn btn-primary update">Update</button>

            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Routes of contacting with colleagues -->
<div id="addNewRoutesOfContactingWithColleagues" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add/Edit <strong class="text-red">Routes of contacting with colleagues</strong></h4>
            </div>
            <div class="modal-body">
                <p class="text-red">*All form fields are required.</p>

                <div class="form-group">
                    <div class="col-md-6">
                        <label> Từ (Ngày & giờ) / <cite class="text-purple"> From (Date & Time)</cite></label>
                        <input id="routesOfContactingWithColleaguesDate" class="form-control datepickerJquery" required />
                    </div>
                    <div class="col-md-6">
                        <label> Đến (Ngày & giờ) / <cite class="text-purple">To (Date & Time)</cite></label>
                        <input id="routesOfContactingWithColleaguesToDate" class="form-control datepickerJquery" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Mã NV & Họ tên đồng nghiệp & Chức danh/ <cite class="text-purple">Colleague's Name - Position - EMEcode</cite></label>
                        <select id="routesOfContactingWithColleaguesInfor" class="form-control select2" multiple="" style="width: 100%;">
                            <option value="All Employees">All Employees</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Cơ sở của đồng nghiệp/ <cite class="text-purple">Colleague's Campus</cite></label>
                        <input type="text" id="routesOfContactingWithColleaguesCampus" class="form-control" required maxlength="200" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label> Tỉnh - Thành Phố <cite class="text-purple"> / Province - City</cite></label>
                        <select id="routesOfContactingWithColleaguesProvinceId" asp-items="@Model.Provinces" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Quận/Huyện <cite class="text-purple"> / District</cite></label>
                        <select id="routesOfContactingWithColleaguesDistrictId" class="form-control select2" style="width: 100%;">
                            <option value="">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Phường <cite class="text-purple">/ Ward</cite></label>
                        <select id="routesOfContactingWithColleaguesWardId" class="form-control select2 selectWard" style="width: 100%;">
                            <option value="0">Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Số nhà, tên đường <cite class="text-purple">/ House number, Street</cite></label>
                        <textarea rows="2" cols="3" type="text" class="form-control" id="routesOfContactingWithColleaguesAddress" maxlength="200">594 Ba THáng Hai</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Tình huống tiếp xúc/<cite class="text-purple">Contact situation</cite></label>
                        <textarea rows="4" cols="3" type="text" class="form-control" id="routesOfContactingWithColleaguesContactSituation"
                                  placeholder="Tiếp xúc trực tiếp hay không? / Direct or indirect contact?
Trong phòng kín hay ngoài trời? / Closed or opened space?
Trong khoảng thời gian bao lâu - Khoảng cách khi tiếp xúc? / For how long and how far?
Có đeo khẩu trang không? / Mask on or off ?" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="saveRoutesOfContactingWithColleagues" class="btn btn-primary save">Save</button>
                <button type="button" id="updateRoutesOfContactingWithColleagues" class="btn btn-primary update">Update</button>

            </div>
        </div>
    </div>
</div>


<!-- #endregion -->

<script type="text/javascript">

    var routesAtRedZonesObj, routesOutsideRedZonesObj, InformationContactSuspectCaseCovidObj, routesOfContactingWithColleaguesObj, status;

    status = @Html.Raw(Json.Serialize(@Model.status));

    var routesAtRedZonesDb = @Html.Raw(Json.Serialize(@Model.routesAtRedZones));

    var routesOutsideRedZonesDb = @Html.Raw(Json.Serialize(@Model.routesOutsizeRedZones));

    $.ajax({
        type: "GET",
        url: '/BaseCategory/getColleagueInfo',
        contentType: "application/json",
        dataType: "json",
        success: function (data) {
            $('#routesOfContactingWithColleaguesInfor')
            for (var i = 0; i < data.length; i++) {
                $('#routesOfContactingWithColleaguesInfor')
                    .append($("<option></option>")
                        .attr("value", data[i].Code)
                        .text(data[i].CategoryName));
            }
        },
        failure: function (response) {

        },
        complete: function () {
            //getPhone($('#Contact').val());
        }
    });

    $(document).ready(function () {

         routesAtRedZonesObj = $('#routesAtRedZones').DataTable(
             {

                @if (@Model.routesAtRedZones != null)
                {
                    <text>
                 "data": routesAtRedZonesDb,
                    "columns": [
                        { "data": "routeAtRedZoneDate" },
                        { "data": "routeAtRedZoneToDate" },
                        { "data": "routeAtRedZoneFullAddress" },
                        { "data": "routeAtRedZoneDistrictId" },
                        { "data": "routeAtRedZoneProvinceId" },
                        { "data": "routeAtRedZoneWardId" },
                        { "data": "routeAtRedZoneDateAddress" },
                        { "data": "routeAtRedZoneDatetransportation" },
                ],
                    </text>
                }
                "aoColumnDefs": [{ "sClass": "hide_me", "aTargets": [3, 4, 5, 6] },
                 { "sClass": "col-lg-1", "aTargets": [0,1] }],
                destroy: true,
                 "paging": false,
                cache: false,
                "language": {
                    "emptyTable": "No data found."
                },
                "lengthChange": false,
             });

        routesOutsideRedZonesObj = $('#routesOutsizeRedZone').DataTable(
            {

                 @if (@Model.routesOutsizeRedZones != null)
                {
                    <text>
                "data": routesOutsideRedZonesDb,
                    "columns": [
                        { "data": "routeOutsideRedZoneDate" },
                        { "data": "routeOutsideRedZoneToDate" },
                        { "data": "routeOutsideRedZoneFullAddress" },
                        { "data": "routeOutsideRedZoneDistrictId" },
                        { "data": "routeOutsideRedZoneProvinceId" },
                        { "data": "routeOutsideRedZoneWardId" },
                        { "data": "routeOutsideRedZoneDateAddress" },
                        { "data": "routeOutsideRedZoneDatetransportation" },
                ],
                    </text>
                }
                "aoColumnDefs": [{ "sClass": "hide_me", "aTargets": [3, 4, 5, 6] },
                 { "sClass": "col-lg-1", "aTargets": [0,1] }],
                destroy: true,
                "paging": false,
                cache: false,
                "language": {
                    "emptyTable": "No data found."
                },
                "lengthChange": false,
            });
        var InformationContactSuspectCaseCovidDb = @Html.Raw(Json.Serialize(@Model.informationContactSuspectCaseCovid));
        InformationContactSuspectCaseCovidObj = $('#informationSuspectCaseOfCovid').DataTable(
            {
                @if (@Model.informationContactSuspectCaseCovid != null)
                {
                    <text>
                    "data": InformationContactSuspectCaseCovidDb,
                    "columns": [
                        { "data": "suspectCaseDate" },
                        { "data": "suspectCaseToDate" },
                        { "data": "suspectCase" },
                        { "data": "suspectCaseFullAddress" },
                        { "data": "suspectCaseRelationShip" },
                        { "data": "suspectCaseContactSituation" },
                        { "data": "suspectCaseDistrictId" },
                        { "data": "suspectCaseProvinceId" },
                        { "data": "suspectCaseWardId" },
                        { "data": "suspectCaseFullAddress" },
                ],
                    </text>
                }
                "aoColumnDefs": [{ "sClass": "hide_me", "aTargets": [5,6,7,8] }],
                destroy: true,
                cache: false,
                "paging": false,
                "language": {
                    "emptyTable": "No data found."
                },
                "lengthChange": false,
            });
        var routesOfContactingWithColleaguesDb = @Html.Raw(Json.Serialize(@Model.routesOfContactingWithColleagues));
        routesOfContactingWithColleaguesObj = $('#routesOfContactingWithColleagues').DataTable(
            {
                 @if (@Model.routesOfContactingWithColleagues != null)
                {
                    <text>
                "data": routesOfContactingWithColleaguesDb,
                    "columns": [
                        { "data": "routesOfContactingWithColleaguesDate" },
                        { "data": "routesOfContactingWithColleaguesToDate" },
                        { "data": "routesOfContactingWithColleaguesInfor" },
                        { "data": "routesOfContactingWithColleaguesCampus" },
                        { "data": "routesOfContactingWithColleaguesFullAddress" },
                        { "data": "routesOfContactingWithColleaguesProvinceId" },
                        { "data": "routesOfContactingWithColleaguesDistrictId" },
                        { "data": "routesOfContactingWithColleaguesWardId" },
                        { "data": "routesOfContactingWithColleaguesAddress" },
                        { "data": "routesOfContactingWithColleaguesContactSituation" },
                ],
                    </text>
                }

                "aoColumnDefs": [{ "sClass": "hide_me", "aTargets": [5, 6, 7, 8] }],
                destroy: true,
                cache: false,
                "paging": false,
                "language": {
                    "emptyTable": "No data found."
                },
                "lengthChange": false,
            });

        $(".select2").select2();
        $(".datepickerJquery").datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            disabledDates: ['1986/01/08', '1986/01/09', '1986/01/10'],
            startDate: new Date(),
            format: 'd/m/Y H:i',
            //mask: true,
            closeOnDateSelect: true,
        });

        $(".datepickerJquery").attr("placeholder", "dd/mm/yyyy");
        if (status != 0) {
            $(".datepickerJquery").removeAttr("placeholder");
            $(".textarea").removeAttr("placeholder");
        }


        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });



        //validate
        $('#chkAccept').on('ifChanged', function (event) {
            if (this.checked) // if changed state is "CHECKED"
            {
                $('#btnSubmitRequest').prop('disabled', false);
            }
            else {
                $('#btnSubmitRequest').prop('disabled', true);
            }
        });
        window.LoadDistrict = function (ProvinceId, DistrictId,WardId) {
            loadDistrict = false
            $.ajax({
                type: "GET",
                datatype: "json",
                url: "/TravelDeclaration/getDistrictByProvinceId",
                data: { provinceId: $("#" + ProvinceId).val() },
                beforeSend: function (request) {
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                    ShowLoadingMessage();
                },
                async: false,
                success: function (data) {
                    if (data != null) {
                        $("#" + DistrictId).empty();
                        $("#" + DistrictId).append($('<option>', { value: "", text: '-- Select one --' }));
                        $("#" + WardId).select2().empty();
                        $("#" + WardId).select2().append($('<option>', { value: "", text: '-- Select one --' }));
                        var array = JSON.parse(JSON.stringify(data));
                        for (var i = 0; i < array.length; i++) {
                            $("#" + DistrictId).append($("<option></option>").attr("value", array[i].districtId).text(array[i].name));
                        }
                        if ('@Model.reporterDistrictId' != 0) {

                            $("#reporterDistrictId").val('@Model.reporterDistrictId').change();
                            LoadWard("reporterDistrictId", "reporterWardId");
                        }
                         if ('@Model.redZoneDistrictId' != 0) {
                             $("#redZoneDistrictId").val('@Model.redZoneDistrictId').change();
                             LoadWard("redZoneDistrictId", "redZoneWardId");
                        }

                    }
                    HideLoadingMessage();
                }
            });
        };

        window.LoadWard = function (DistrictId, WardId) {
            loadProvine = false;
            $.ajax({
                type: "GET",
                datatype: "json",
                url: "/TravelDeclaration/getWardByDistrictId",
                data: {
                    DistrictId: $("#" + DistrictId).val()
                },
                beforeSend: function (request) {
                    request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
                    ShowLoadingMessage();
                },
                async: false,
                success: function (data) {
                    $('#' + WardId).empty();
                    if (data != null) {
                        $("#" + WardId).select2().append($('<option>', { value: "", text: '-- Select one --' }));
                        var array = JSON.parse(JSON.stringify(data));
                        for (var i = 0; i < array.length; i++) {
                            $('#' + WardId).append($("<option></option>").attr("value", array[i].wardId).text(array[i].name));
                        }
                        if ('@Model.reporterWardId' != 0) {
                            $("#reporterWardId").val('@Model.reporterWardId').change();;
                        }
                         if ('@Model.redZoneWardId' != 0) {
                             $("#redZoneWardId").val('@Model.redZoneWardId').change();;
                        }
                    }

                    HideLoadingMessage();
                },
                error: function () {
                    HideLoadingMessage();
                }
            });
        };



        $("#redZoneProvinceId").on("change", function () {
            LoadDistrict("redZoneProvinceId", "redZoneDistrictId","redZoneWardId");
        });


        $("#redZoneDistrictId").on("change", function () {
            LoadWard("redZoneDistrictId", "redZoneWardId");
        });

        $("#reporterProvinceId").on("change", function () {
            LoadDistrict("reporterProvinceId", "reporterDistrictId", "reporterWardId");

        });
        $("#reporterProvinceId").val("79TTT").change();
        $("#reporterDistrictId").on("change", function () {
            LoadWard("reporterDistrictId", "reporterWardId");
        });

        $("#routesOfContactingWithColleaguesProvinceId").val("79TTT").change();
        $("#routesOfContactingWithColleaguesDistrictId").val("771HH").change();
        $("#routesOfContactingWithColleaguesWardId").val("27169").change();



    });

    $(document).ready(function () {
        $('#isReturnFromRedZone').on('ifUnchecked', function (event) {
            $("#redZoneArea").hide();
            $("#routesAtRedZoneArea").hide();
        });

        $('#isReturnFromRedZone').on('ifChecked', function (event) {
            $("#redZoneArea").show();
            $("#routesAtRedZoneArea").show();
        });
        $('#isContactWithSuspectCase').on('ifChecked', function (event) {
            $("#suspectCaseOfCovidArea").show();
        });
        $('#isContactWithSuspectCase').on('ifUnchecked', function (event) {
            $("#suspectCaseOfCovidArea").hide();
        });

        $('input[name="confirmToTest"]').on('ifClicked', function (event) {
            if (this.value == '@((int)ConfirmToTest.no)') {
                $("#haveATestResult").hide();
            }
            else {
                $("#haveATestResult").show();
            }
        });
        $('input[name="backToWorkStatus"]').on('ifClicked', function (event) {
            if (this.value == '@((int)workSatus.backToWorkAlready)') {
                $("#dateBackToWorkArea").show();
                $("#estimatedDateBackToWorkArea").hide();
            }
            else {
                $("#dateBackToWorkArea").hide();
                $("#estimatedDateBackToWorkArea").show();
            }
        });
    });
    function getRole() {
        return $("#submitRequest").find("input[name=type]:checked").val();
    }


    $("#submitRequest").validate({
        errorElement: 'span',
        errorElementClass: 'input-validation-error',
        errorClass: 'field-validation-error',
        rules: {
            backToWorkStatus: {
                required: true
            },

            isReturnFromRedZone: { required: "#isContactWithSuspectCase:unchecked" },
            isContactWithSuspectCase: { required: "#isReturnFromRedZone:unchecked" },
            redZoneProvinceId:
            {
                required: '#isReturnFromRedZone:checked'
            },
            redZoneDistrictId:
            {
                required: '#isReturnFromRedZone:checked'
            },
            redZoneWardId:
            {
                required: '#isReturnFromRedZone:checked'
            },
            redZoneHomeAddress:
            {
                required: '#isReturnFromRedZone:checked'
            },
            reporterProvinceId: "required",
            reporterDistrictId: "required",
            reporterWardId: "required",
            reporterHomeAddress: "required",
            emergencyContact: "required",
            phoneContact: "required",
            relationshipContact: "required",
            contactAddress: "required",

            departureDate:
            {
                required: '#isReturnFromRedZone:checked'
            },
            departureTransportation:
            {
                required: '#isReturnFromRedZone:checked'
            },
            returningDate:
            {
                required: '#isReturnFromRedZone:checked'
            },
            returningTransportaion:
            {
                required: '#isReturnFromRedZone:checked'
            },
            contactTime: "required",
            informationReciever: "required",
            informationMedicalCenter: "required",
            guidanceMedicalCenter: "required",
            fTypeConfirmed: "required",
            ConfirmToTest: { // <- NAME of every radio in the same group
                required: true
            },
            currentHealthSituation: "required",
            testingStatus:
            {
                required: '#ConfirmToTest[value="1"]:checked'
            },
            dateBackToWork: {
                required: '#backToWorkStatus[value="1"]:checked'
            },
            testResultName:
            {
                required: '#testingStatus[value="6"]:checked'
            },
            othersTestResult:
            {
                required: '#testingStatus[value="4"]:checked'
            },
            appoinmentDateForTestResult:
            {
                required: '#testingStatus[value="2"]:checked'
            },
            estimatedDateBackToWork: {
                required: '#backToWorkStatus[value="2"]:checked'
            },
            ECSDEmail: "required",
            relationshipContact:"required"
        },
        errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
            if (element.attr("name") == "ConfirmToTest")
                $("#ConfirmToTestErrorMessage").html(error);
            if (element.attr("name") == "testingStatus")
                $("#testingStatusErrorMessage").html(error);
            if (element.attr("name") == "testingStatus")
                $("#testingStatusErrorMessage").html(error);
            if (element.attr("name") == "isReturnFromRedZone")
                $("#isReturnFromRedZoneErrorMessage").html(error);
            if (element.attr("name") == "isContactWithSuspectCase")
                $("#isContactWithSuspectCaseErrorMessage").html(error);
            if (element.attr("name") == "backToWorkStatus") {
                $("#backToWorkStatus_Already_ErrorMessage").html(error);
                $("#backToWorkStatus_NotYet_ErrorMessage").html(error);
            }
        },
        submitHandler: function (form) {
            if ($("#isReturnFromRedZone").is(':checked')) {
                if ($('#routesAtRedZones').DataTable().data().any()) {
                    return true;
                }
                else {
                    ShowMessageError("The Routes at red zone are required !!! ");
                    return false;
                }
                if ($('#routesOutsizeRedZone').DataTable().data().any()) {
                    return true;
                }
                else {
                    ShowMessageError("The Routes outside red zone are required !!! ");
                    return false;
                }
            }
            if ($("#isContactWithSuspectCase").is(':checked')) {
                if ($('#informationSuspectCaseOfCovid').DataTable().data().any()) {
                    return true;
                }
                else {
                    ShowMessageError("The Information about contacting with a suspect case of covid-19: are required !!! ");
                    return false;
                }
                if ($('#routesOfContactingWithColleagues').DataTable().data().any()) {
                    return true;
                }
                else {
                    ShowMessageError("The Routes of contacting with colleagues are required !!! ");
                    return false;
                }
            }
            form.submit();
        }
    });

</script>
