@using src.Core
@model src.Web.Common.Models.AccountViewModels.SetPasswordViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = Constants.MainPages.Login;
}
@using src.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<p class="login-box-msg">@SharedLocalizer["LoginMessage"]</p>

<p class="text-red"><strong>@SharedLocalizer["CreatePassWord_Message"]</strong></p>

<form asp-controller="Account" asp-action="SetPassword" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button id="submit-button" type="submit" class="btn btn-primary btn-block">@SharedLocalizer["SignIn_button"]</button>
    </div>
    <div class="form-footer">
        <div class="row">
            <div class="col-xs-7">
                <i class="fa fa-unlock-alt"></i>
                <a asp-action="ForgotPassword">@SharedLocalizer["ForgotPassword"]</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <i class="fa fa-arrow-circle-o-left"></i>
                <a asp-action="Login">@SharedLocalizer["BackToLogin"]</a>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {

            $("#@Html.IdFor(model => model.Password)").focus();

            $("form").data("validator").settings.submitHandler = function (form) {
                $("#submit-button").html("<i class=\"fa fa-spinner fa-pulse\"></i> Signing In...").prop('disabled', true);
                form.submit();
            };
    });
</script>
