@using src.Core
@using src.Web.Extensions
@using src.Web.Common
@using Microsoft.Extensions.Options

@inject IUserSession UserSession
@inject IOptions<AppSettings> AppSettings
@using src.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<aside class="main-sidebar">
    <section class="sidebar">
        @if (User.Identity.IsAuthenticated && UserSession.IsInRole(Constants.RoleNames.Administrator))
        {
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">CONFIG</li>
                <li class="@(Html.IsMenuActive("/Administration/Dashboard") ? "active" : "")"><a href="~/Administration/Dashboard"><i class="fa fa-desktop"></i> @Constants.MainPages.Dashboard</a></li>
                <li class="@(Html.IsMenuActive("/Administration/User") ? "active" : "")"><a href="~/Administration/Users/List"><i class="fa fa-user"></i>@Constants.MainPages.Users</a></li>
                <li class="@(Html.IsMenuActive("/Administration/EmailTemplates") ? "active" : "")"><a href="~/Administration/EmailTemplates/List"><i class="fa fa-envelope-o"></i>@Constants.MainPages.EmailTemplates</a></li>
                <li class="@(Html.IsMenuActive("/Administration/Logs") ? "active" : "")"><a href="~/Administration/Logs/List"><i class="fa fa-exclamation-circle"></i>@Constants.MainPages.Logs</a></li>
                <li class="@(Html.IsMenuActive("/Administration/Settings") ? "active" : "")"><a href="~/Administration/Settings/EmailConfig"><i class="fa fa-gear"></i>Config</a></li>
                <li class="header">REPORT</li>
                <li class="@(Html.IsMenuActive("/Report/TravelDeclaration") ? "active" : "")"><a href="~/Administration/Report/TravelDeclaration"><i class="fa fa-plane"></i> Travel Declaration</a></li>
                <li class="@(Html.IsMenuActive("/Report/CovidIncident") ? "active" : "")"><a href="~/Administration/Report/CovidIncident"><i class="fa fa-bug"></i> Covid Incident</a></li>
                <li class="header">MANAGEMENT</li>
                <li class="@(Html.IsMenuActive("/Report/TravelDeclaration") ? "active" : "")"><a href="~/Administration/RedZone/Filter"><i class="fa fa-flag"></i> Red Zone</a></li>
                <li class="@(Html.IsMenuActive("/Report/CovidIncident") ? "active" : "")"><a href="~/Administration/RedZoneFollowUp"><i class="fa fa-eye"></i> Red zone Follow Up</a></li>
                <li class="@(Html.IsMenuActive("/Report/CovidIncident") ? "active" : "")"><a href="~/Administration/Summary"><i class="fa fa-area-chart"></i> Update History</a></li>

            </ul>
        }

    </section>
</aside>